winexhibition-questionnaire/WineExhibitionQuestionnaire/Configuration/WebAppConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="WineExhibitionQuestionnaire" elementFormDefault="qualified" targetNamespace="WineExhibitionQuestionnaire" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="webAppConfiguration" type="tns:WineExhibitionQuestionnaire.WebAppConfigurationCT" />
	<xs:complexType name="WineExhibitionQuestionnaire.WebAppConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="mailJet" type="tns:WineExhibitionQuestionnaire.MailJetConfigurationCT">
				<xs:annotation>
					<xs:documentation>The MailJet.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WineExhibitionQuestionnaire.MailJetConfigurationCT">
		<xs:attribute name="fromEmail" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromEmail.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="apiKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="apiSecret" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiSecret.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="templateOrderId" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The TemplateOrderId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fromName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="editUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EditUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="templateSentId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TemplateSentId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
