winexhibition-questionnaire/WineExhibitionQuestionnaire/Configuration/WebAppConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:WineExhibitionQuestionnaire.Configuration" elementFormDefault="qualified" targetNamespace="urn:WineExhibitionQuestionnaire.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="webAppConfiguration" type="tns:WineExhibitionQuestionnaire.Configuration.WebAppConfigurationCT" />
	<xs:complexType name="WineExhibitionQuestionnaire.Configuration.WebAppConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="authenticationConfig" type="tns:WineExhibitionQuestionnaire.Configuration.AuthenticationConfigurationCT">
				<xs:annotation>
					<xs:documentation>The AuthenticationConfig.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WineExhibitionQuestionnaire.Configuration.AuthenticationConfigurationCT">
		<xs:attribute name="secretKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SecretKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
